<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/style/homepage.css">
</head>
<body>
    <div id="myDiv">
        <h1>{{header}}</h1>
        <h3>A go fromework for landing pages</h3>
        <a href="https://github.com/colemalphrus/golp">https://github.com/colemalphrus/golp</a>
    </div>

    <script src="/static/src/index.js"></script>
</body>
</html>